.h1 {
  margin-top: 43px;

  color: var(--Primary-Lunar-green, #354733);

  /* Primary/Primary */
  font-family: var(--eb-garamond);
  font-size: var(--fonte-grande);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
}

.h1:last-child {
  margin-top: 180px;
}

#colorGreen {
  color: var(--Primary-Avacado, #8a9b6e);
}
