.carePlantsContainer {
  background-color: #fcfcfc;
  padding: 100px;
}

.carePlantsTitle {
  font-size: var(--fonte-grande);
}

.carePlantsSubtitle {
  font-size: var(--fonte-pequena);
  color: var(--gray);
}

.carePlantsParagraph {
  font-size: var(--fonte-pequena);
  color: var(--secondary);
}
