.carePlantsContainer {
  background-color: #fcfcfc;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 82px;
}

.carePlantsTitle {
  font-size: var(--fonte-grande);
  font-family: var(---eb-garamond);
  color: var(--luna-green);
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;
  text-align: center;
}

.carePlantsTitle strong {
  color: var(--avocado);
}

.carePlantsSubtitle {
  font-size: var(--fonte-pequena);
  font-family: var(--raleway);
  color: var(--gray);
  text-align: center;
  font-weight: 400;
  line-height: 27.87px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
  width: 75%;
  margin: auto;
}

.carePlantsParagraph {
  font-size: var(--fonte-pequena);
  font-family: var(--raleway);
  color: var(--secondary);
  line-height: 27.87px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
  font-weight: 400;
}

.listItemParagraph {
  text-align: center;
  line-height: 24.72px;
}

.listItemTitle {
  font-size: var(--fonte-media);
  font-family: var(--lato);
  color: var(--IBBNB);
  font-weight: 700;
  text-align: center;
}

.containerGrid {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: min-content 1fr;
  justify-items: center;
  justify-content: space-between;
  row-gap: 162px;
  margin-bottom: 80px;
}

.containerGrid button {
  margin: 0;
}

.containerGrid img {
  width: 100%;
}

.containerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 16px;
}

.containerImgsDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.containerItems {
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  .containerGrid {
    grid-template-columns: repeat(2, 47.5%);
    row-gap: 60px;
    margin-bottom: 60px;
  }

  .carePlantsContainer {
    padding: 100px 75px;
  }
}

@media (max-width: 768px) {
  .containerGrid {
    grid-template-columns: repeat(1, 95%);
    margin-bottom: 0;
    row-gap: 60px;
  }

  .carePlantsContainer {
    padding: 75px 50px;
    gap: 40px;
  }

  .carePlantsSubtitle {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 568px) {
  .carePlantsContainer {
    padding: 50px;
  }
}

@media (max-width: 425px) {
  .carePlantsContainer {
    padding: 50px 25px;
  }
}

@media (max-width: 375px) {
  .carePlantsContainer {
    padding: 50px 20px;
  }
}
