.button {
  background: linear-gradient(to right, #354733 50%, white 50%);
  background-size: 200% 100%;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-position 0.3s ease;

  width: 191px;
  height: 62px;
  
  color: var(--Athena-Grey, #f8f9fb);
  text-align: center;

  /* secondary/Secondary */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  
  line-height: 154.5%; /* 24.72px */
  box-shadow: 5px 5px 14px 0px rgba(53, 71, 51, 0.20);
  z-index: 1;
}

/* Estilo do botão quando o mouse passa por cima */
.button:hover {
  background-position: -100% 0;
  color: black;
  border: 1px solid var(--Primary-Lunar-green, #354733);
}
