@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.inputRadioContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputRadioLabel {
  font-size: var(--fonte-pequena);
  color: var(--gray);
  font-family: var(--inter);
  font-weight: 500;
  line-height: 22px;
}

.inputRadio {
  appearance: none;
  margin: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--gray);
}

.inputRadio:checked {
  background-color: none;
  background-image: url("../../../../assets//inputRadioSelected.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.checkedLabel {
  color: var(--IBBNB);
}
