.swiper {
  margin: 100px;
}

.productList {
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
  outline: none;
}

/* @media screen and (min-width: 1620px) {
  .productList{
    flex-direction: column;
  }
  .swiper{
    flex-direction: column;
  }

}
.swiper{
  display: flex;
  width: 100%;
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 1632px;
  padding: 96px 0px;
  align-items: center;
  gap: 48px;
  margin-left:20vh;
} */
