.productList {
  width: 100%;
  height: 100%;
}

.swiperContainer {
  padding: 0 100px !important;
}

.swiperContainer:first-of-type {
  margin-bottom: 150px;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
  outline: none;
}

@media screen {
  @media (max-width: 1024px) {
    .swiperContainer {
      padding: 0 50px !important;
    }
  }

  @media (max-width: 768px) {
    .swiperContainer {
      padding: 0 25px !important;
    }
  }
}
