.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: var(--Athena-Grey, #f8f9fb);
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0px 6.476px 6px 0px rgba(41, 41, 41, 0.08);
  width: 100%;
  height: 100%;
}

.card figure {
  width: 100%;
}

.card img {
  width: 100%;
  height: 100%;
}

#name {
  color: var(--Primary-Lunar-green, #354733);
  /* Primary/card heading */
  font-family: var(--lato);
  font-size: var(--fonte-media);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  margin: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#price {
  color: var(--Primary-Lunar-green, #354733);
  display: flex;
  align-items: flex-start;
  /* secondary/Secondary */
  font-family: Raleway;
  font-size: var(--fonte-pequena);
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */
  margin: 0;
  margin-right: 16px;
}

#label {
  color: var(--main-colors-green-95, #158212);
  width: fit-content;
  /* secondary/Secondary */
  font-family: Raleway;
  font-size: var(--fonte-pequena);
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */

  border-radius: 19.427px;
  border: 1.619px solid var(--Main-Colors-Green-6, #83e281);
  background: var(--main-colors-green-05, #f6fff6);

  padding: 6.476px 12.951px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 32px;
  margin-bottom: 32px;
  height: 100%;
  width: 80%;
}

#oldPrice {
  color: var(--Dark-gray, #afb2aa);
  font-family: Raleway;
  font-size: var(--fonte-pequena);
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */
  text-decoration-line: strikethrough;
  text-decoration: line-through;
}

#priceContainer {
  display: flex;
  flex-wrap: wrap;
}

@media screen {
  @media (max-width: 768px) {
    .cardContent {
      margin: 0 20px;
      margin-bottom: 20px;
    }
  }
}
