.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    background: var(--Athena-Grey, #f8f9fb);
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 10px;
  }
  
  .card:hover {
      box-shadow: 0px 6.476px 6px 0px rgba(41, 41, 41, 0.08);
    }
  
  #name {
    color: var(--Primary-Lunar-green, #354733);
    display: flex;
    /* Primary/card heading */
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }
  
  #price {
    color: var(--Primary-Lunar-green, #354733);
    display: flex;
    align-items: flex-start;
    /* secondary/Secondary */
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 154.5%; /* 24.72px */
    margin: 0;
  }
  
  #label {
    display: flex;
    width: 60px;
    align-items: flex-start;
    justify-content: center;
    gap: 8.094px;
  
    border-radius: 19.427px;
    border: 1.619px solid var(--Primary-Avacado, #8a9b6e);
    background: #f0f1ee;
  
    color: var(--Primary-Avacado, #8a9b6e);
  
    /* secondary/Secondary */
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 154.5%; /* 24.72px */
  }
  
  .cardContent {
    margin-left: 20px;
  }
  