.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  background: var(--Athena-Grey, #f8f9fb);
  transition: box-shadow 0.3s ease-in-out;
  margin-top: 10px;
  padding-bottom: 33px;
  box-shadow: 0px 6.476px 6px 0px rgba(41, 41, 41, 0.08);
}


#name {
  color: var(--Primary-Lunar-green, #354733);
  display: flex;
  /* Primary/card heading */
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

#price {
  color: var(--Primary-Lunar-green, #354733);
  display: flex;
  align-items: flex-start;
  /* secondary/Secondary */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */
  margin: 0;
  margin-bottom: 10px;
}

#label {
  color: var(--Primary-Avacado, #8a9b6e);

  width: fit-content;
  /* secondary/Secondary */
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */

  border-radius: 19.427px;
  border: 1.619px solid var(--Main-Colors-Green-6, #83e281);
  background: var(--main-colors-green-05, #f6fff6);

  padding: 5px;
}

.cardContent {
  margin-left: 20px;
}

#oldPrice {
  color: var(--Dark-gray, #afb2aa);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */
  text-decoration-line: strikethrough;
  text-decoration: line-through;
}

#priceContainer{
  display: flex;
  gap: 16px;
  
}