.plantsDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 240px;
}

.plantContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;
  padding: 80px;
}

body {
  background: #f0f1ee;
}

.imgContainer {
  max-width: 752px;
  max-height: 50%;
  width: 50%;
  padding: 80px 0px 80px 0px;
}

#img {
  width: 100%;

  opacity: 0.9;
  gap: 25px;
}

#name {
  color: var(--Primary-Lunar-green, #354733);

  /* Primary/Primary */
  font-family: EB Garamond;
  font-size: var(--fonte-grande);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

#subtitle {
  color: var(--Dark-gray, #afb2aa);

  /* Primary/card heading */
  font-family: Lato;
  font-size: var(--fonte-media);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 13px;
  margin-left: 0;
}

#label {
  color: var(--main-colors-green-95, #158212);
  width: fit-content;

  font-family: Raleway;
  font-size: var(--fonte-pequena);
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; 

  border-radius: 19.427px;
  border: 1.619px solid var(--Main-Colors-Green-6, #83e281);
  background: var(--main-colors-green-05, #f6fff6);

  padding: 6.476px 12.951px;
}

#label:nth-child(even) {
  margin-left: 15px;
}

.labelContainer {
  display: flex;
}

#price {
  margin-left: 0;
  color: #000;

  /* Primary/card heading */
  font-family: Lato;
  font-size: var(--fonte-media);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#btn {
  background: var(--Primary-Lunar-green, #354733);
  width: 191px;
  height: 62px;

  color: var(--Athena-Grey, #f8f9fb);
  text-align: center;

  font-family: Raleway;
  font-size: var(--fonte-pequena);
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; 
}

#details {
  color: #000;

  font-family: Raleway;
  font-size: var(--fonte-pequena);
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; 
}

#featuresDetails {
  width: 100%;
  max-width: 680px;
}

#description {
  color: #000;

  font-family: Raleway;
  font-size: var(--fonte-pequena);
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; 
  max-width: 680px;
  width: 100%;
}

.description {
  width: 100%;
}

#oldPrice {
  color: var(--Dark-gray, #afb2aa);
  font-family: Raleway;
  font-size: var(--fonte-media);
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */
  text-decoration-line: strikethrough;
  text-decoration: line-through;
}

#priceContainer {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 1023px) {
  .plantsDetails {
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    margin-top: 50px;
  }
  .imgContainer {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

li {
  padding-left: 1vh;
  size: 1em;
  font-size: 14px;
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
  .imgContainer {
    display: flex;
    justify-content: center;
    width: 30%;
  }

  #img {
    width: 450px;
    height: 450px;
    opacity: 0.9;
    gap: 25px;
  }
}

@media screen and (max-width: 720px) {
  #img {
    width: 200%;
  }
}

@media screen and (max-width: 555px) {
  #img {
    width: 200%;
  }
  .imgContainer {
    padding: 10px;
  }

  .plantContent {
    padding: 30px;
  }
}

@media screen and (max-width: 370px) {
  #img {
    width: 200%;
  }
  .plantContent {
    padding: 10px;
  }
}

@media screen and (max-width: 290px) {
  #img {
    width: 200%;
  }
  .plantContent {
    padding: 0px;
  }
}
