.plantsDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.plantContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  padding: 80px;

}

body {
  background: #f0f1ee;
}

.imgContainer {
  
  max-width: 752px;
  max-height: 50%;
  width: 50%;
  padding: 80px 0px 80px 80px;
}

#img {
  
  width: 100%;

  opacity: 0.9;
  gap: 25px;
}

#name {
  color: var(--Primary-Lunar-green, #354733);

  /* Primary/Primary */
  font-family: EB Garamond;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  display: flex;
}

#subtitle {
  color: var(--Dark-gray, #afb2aa);

  /* Primary/card heading */
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 13px;
  margin-left: 0;
}

#label {
  color: var(--main-colors-green-95, #158212);
  width: fit-content;
  /* secondary/Secondary */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */

  border-radius: 19.427px;
  border: 1.619px solid var(--Main-Colors-Green-6, #83e281);
  background: var(--main-colors-green-05, #f6fff6);

  padding: 5px;
}

#label:nth-child(even) {
  margin-left: 20px;
}

.labelContainer {
  display: flex;
}

#price {
  margin-left: 0;
  color: #000;

  /* Primary/card heading */
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#btn {
  background: var(--Primary-Lunar-green, #354733);
  width: 191px;
  height: 62px;

  color: var(--Athena-Grey, #f8f9fb);
  text-align: center;

  /* secondary/Secondary */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */
}

#details {
  color: #000;

  /* secondary/Secondary */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */
}

#featuresDetails{
  width: 100%;
  max-width: 680px;
}

#description{
  color: #000;

  /* secondary/Secondary */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */
  max-width: 680px;
  width: 100%;
}

.description{
  width: 100%;
}

#oldPrice {
  color: var(--Dark-gray, #afb2aa);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */
  text-decoration-line: strikethrough;
  text-decoration: line-through;
}

#priceContainer{
  display: flex;
  gap: 16px;
  
}

@media screen and (max-width: 1023px) {
  .plantsDetails{
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
  }
  .imgContainer{
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

/* @media screen and (max-width: 750px) {


  #img{
    width: 500%;
  }
} */

@media screen and (max-width: 1200px) and (min-width: 1024px){
  .imgContainer{
    display: flex;
    justify-content: center;
    width: 30%;
  }

  #img {
    width: 450px;
    height: 450px;
    opacity: 0.9;
    gap: 25px;
  }
}

@media screen and (max-width: 550px) {
  #img{
    width: 200%;
  }
  .imgContainer{
    padding: 10px;
  }

  .plantContent{
    padding: 30px;
  }
}

@media screen and (max-width: 370px) {
  #img{
    width: 200%;
  }
  .plantContent{
    padding: 10px;
  }
}

@media screen and (max-width: 290px) {
  #img{
    width: 200%;
  }
  .plantContent{
    padding: 0px;
  }
}