/*Forma de atribuir classe para não houver bugs na page*/
/*   [data-custom=""]   */

[data-custom="titleOps"] {
  margin-bottom: 160px;

  line-height: 100px;

  font-family: var(--eb-garamond);
  font-size: var(--fonte-grande);
  font-weight: 700;

  color: var(--luna-green);
}

#infContainer {
  align-items: center;
  margin: auto;
}

[data-custom="erContainer"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  margin-top: 50px;
  margin-right: 150px;
  margin-bottom: 20px;
}

[data-custom="btnbackContainer"] {
  margin-left: 300px;

  background: linear-gradient(to right, #354733 50%, white 50%);
  background-size: 200% 100%;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-position 0.3s ease;
  width: 191px;
  height: 62px;
  color: var(--Athena-Grey, #f8f9fb);
  text-align: center;
  font-family: Raleway;
  font-size: var(--fonte-media);
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
}

[data-custom="btnbackContainer"]:hover {
  background-position: -100% 0;
  color: black;
  border: 1px solid var(--Primary-Lunar-green, #354733);
}

[data-custom="textDec"] {
  text-decoration: none;
}
