[data-custom="titleOps"] {
  margin-bottom: 100px;

  line-height: 100px;

  font-family: var(--eb-garamond);
  font-size: var(--fonte-grande);
  font-weight: 700;

  color: var(--luna-green);
}

#infContainer {
  align-items: center;
  margin: auto;
}

[data-custom="erContainer"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 130px 100px;
}

[data-custom="textDec"] {
  text-decoration: none;
  font-family: var(--fonte-media);
  color: var(--white);
}

[data-custom="imgC"] {
  width: 30vw;
  align-items: center;
}

[data-custom="btnBack"] {
  background: linear-gradient(to right, #354733 50%, white 50%);
  background-size: 200% 100%;
  color: white;
  padding: 20px 70px;
  border: none;
  cursor: pointer;
  transition: background-position 0.3s ease;
  text-decoration: none;
  font-family: var(--fonte-media);

  width: 191px;
  height: 62px;

  color: var(--Athena-Grey, #f8f9fb);
  text-align: center;

  /* secondary/Secondary */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  line-height: 154.5%; /* 24.72px */
}

[data-custom="btnBack"]:hover {
  background-position: -100% 0;
  color: black;
  border: 1px solid var(--Primary-Lunar-green, #354733);
}

@media screen {
  @media (max-width: 1270px) {
    [data-custom="imgC"] img {
      width: 40vw;
    }

    [data-custom="titleOps"] {
      line-height: 80px;
    }

    [data-custom="erContainer"] {
      flex-direction: column-reverse;
    }
  }

  @media (max-width: 768px) {
    [data-custom="erContainer"] {
      padding: 50px;
    }

    [data-custom="imgC"] {
      padding: 40px;
      width: 40vw;
    }

    [data-custom="titleOps"] {
      margin-bottom: 50px;
    }
  }

  @media (max-width: 425px) {
    [data-custom="erContainer"] {
      padding: 25px;
    }

    [data-custom="titleOps"] {
      line-height: 60px;
    }

    [data-custom="imgC"] {
      display: none;
    }
  }
}
