@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputLabel,
input {
  font-family: "Inter", sans-serif;
  color: var(--IBBNB);
}

.inputLabel {
  font-size: calc(var(--fonte-pequena) + 2);
}

input {
  font-size: 16px;
  padding: 12px 16px;
}
