.navLink {
  color: var(--luna-green);
}

.active {
  color: var(--avocado);
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  text-decoration: none;
  color: black;
}

.show {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .navLink {
    color: var(--accent);
    text-decoration: none;
    padding: 1em;
    margin-top: 2em;
  }

  .active {
    color: var(--athena-Grey);
  }

  .navLinks {
    padding: 10px;
    z-index: 999;
  }
}
