.h1 {
  display: flex;
  width: 631px;
  height: 144px;

  justify-content: center;
  margin-left: 95px;
  margin-top: 211px;
  align-items: flex-start;
  color: var(--Primary-Lunar-green, #354733);

  /* Primary/Primary */
  font-family: EB Garamond;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

#bio {
  display: flex;
  width: 611px;

  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  margin-left: 100px;
  color: var(--Secondary-Secondary, #808276);

  /* secondary/Secondary */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */
}


.homeOneContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#img{
  display: flex;
  width: 100%;
  height: 1024px;
  transition: filter 0.3s ease;
}

#img:hover{
  filter: grayscale(100%);
}
/* .homeOneContainer:hover {
  filter: grayscale(100%);
} */

#colorGreen {
  display: flex;
  color: var(--Primary-Lunar-green, #354733);
}

.teste{
  display: flex;
  flex-direction: column;
}

#btn {
  margin-left: 100px;
  margin-top: 24px;
}



#learn {
  display: flex;
  color: var(--Secondary-Secondary, #808276);
  text-align: center;
  margin-top: 391px;
  margin-left: 100px;
  /* secondary/Secondary */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */
}
