.member {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aboutP {
  font-size: var(--fonte-pequena);
  font-family: var(--raleway);
  color: var(--secondary);
  line-height: 27.87px;
  letter-spacing: 0.08px;
  font-weight: 400;
}

.aboutName {
  font-family: var(--raleway);
  color: var(--gray);
  font-size: var(--fonte-media);
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
}

.staffPic {
  width: 100%;
}
