:root {
  --white: #fdfdfc;
  --athena-Grey: #f9f8fb;
  --wisper: #f1f0ef;

  /*Primary*/
  --luna-green: #354732;
  --avocado: #8a9b6e;
  --accent: #dddea0;

  /*Dark*/
  --IBBNB: #1f1f24;
  --gray: #afb3aa;

  /*Secondary*/
  --teak: #b99374;
  --secondary: #808276;

  /*Font size*/
  --fonte-pequena: 16px;
  --fonte-media: calc(var(--fonte-pequena) * 1.5);
  --fonte-grande: calc(var(--fonte-pequena) * 4);
}
