.container {
  display: flex;
  justify-content: center;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  width: calc(100vw - 200px);
  background-color: var(--wisper);
  padding: 16px 100px;
}

.navBar {
  display: flex;
  gap: 16px;
}

.navBar a {
  font-family: var(--raleway);
  text-decoration: none;
}

.menuItem {
  color: #fff !important;
}

.dropItem {
  display: flex;
  justify-content: space-between !important;
  padding: 10px 30px !important;
}

.dropItem a {
  font-family: var(--raleway);
  text-decoration: none;
}

@media (max-width: 768px) {
  .mobileNav {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .desktopNav {
    display: none;
  }
}

.navBar {
  display: flex;
  gap: 10px;
}

.navLink {
  color: var(--luna-green);
}

.active {
  color: var(--avocado);
}

@media screen {
  @media screen and (max-width: 768px) {
    .dropButton {
      font-size: var(--fonte-pequena);
      width: 50vw;
      color: #354733 !important;
    }
  }

  @media (max-width: 602px) {
    .headerContainer {
      width: calc(100vw - 150px);
      padding: 16px 75px;
    }
  }

  @media screen and (max-width: 568px) {
    .dropItem {
      padding: 8px 15px !important;
    }

    .headerContainer {
      width: calc(100vw - 100px);
      padding: 16px 50px;
    }
  }

  @media (max-width: 425px) {
    .headerContainer {
      width: calc(100vw - 50px);
      padding: 16px 25px;
    }
  }

  @media (max-width: 335px) {
    .dropItem {
      flex-direction: column;
      gap: 15px;
    }
    .headerContainer {
      display: flex;
      align-items: center;
    }
  }
}
