.container {
  display: flex;
  justify-content: center;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  z-index: 10;
  width: 100vw;
  background-color: var(--wisper);
  padding: 16px 0;
}

.navBar {
  display: flex;
  gap: 16px;
}

.mobileNav {
  display: none;
}

.navBar a {
  font-family: var(--raleway);
  text-decoration: none;
}

.menuItem {
  color: #fff !important;
}


.dropItem {
  display: flex;
  justify-content: space-between !important;
  padding: 10px 30px !important;
}

.dropItem a{
  font-family: var(--raleway);
  text-decoration: none;
  
}

@media (max-width: 768px) {
  .navBar {
    display: none;
  }

  .mobileNav {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .desktopNav {
    display: none;
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
}

.navBar {
  display: flex;
  gap: 10px;
}

/* .mobileNav {
  display: none;
} */

/* .navBar a {
  text-decoration: none;
} */

@media screen {
  @media screen and (max-width: 768px) {
    .dropButton {
      font-size: var(--fonte-pequena);
      width: 50vw;
      color: #354733 !important;
    }
  }
  
  @media screen and (max-width: 568px) {
    .dropItem {
      padding: 8px 15px !important;
    }
  }
  
  @media (max-width: 335px) {
    .dropItem {
      flex-direction: column;
      gap: 15px;
    }
    .headerContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 68px;
    }
  }
  
}
  