.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar {
  display: flex;
  gap: 10px;
}

.mobileNav {
  display: none;
}

.navBar a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .headerContainer {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .navBar {
    display: none;
  }

  .mobileNav {
    display: flex;
    justify-content: flex-start;
  }
}
