.h1 {
  display: flex;
  width: 506px;

  justify-content: center;
  margin-left: 95px;

  align-items: flex-start;
  color: var(--Primary-Lunar-green, #354733);

  /* Primary/Primary */
  font-family: EB Garamond;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

#bio {
  display: flex;
  width: 611px;

  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  margin-left: 100px;
  color: var(--Secondary-Secondary, #808276);

  /* secondary/Secondary */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */
}

.homeOneContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;

 
}

.homeOneContainer:hover{
  filter: none;
}


#img {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100vh;
  transition: filter 0.3s ease;
  top: 0;
  left: 0;
  z-index: 0;
  filter: grayscale(100%);
}

#img:hover {
  filter: none;
  z-index: 1;
}

/* .homeOneContainer:hover {
  filter: grayscale(100%);
} */

#colorGreen {
  color: var(--Primary-Avacado, #8a9b6e);
}

.teste {
  display: flex;
  flex-direction: column;
}

#btn {
  margin-left: 100px;
  margin-top: 24px;
}

#topTitle {
  width: 159px;
  height: 28px;
  color: #000;
  text-align: center;
  margin-left: 95px;

  /* Stylish */
  font-family: Pacifico;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 259px;
}

#learn {
  position: absolute;
  display: flex;
  margin-top: 92vh;
  color: var(--Secondary-Secondary, #808276);
  text-align: center;
  
  margin-left: 100px;
  /* secondary/Secondary */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 24.72px */
}

#plantLeft {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/leftPlant.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  filter: grayscale(100%);
  margin-left: -38vw;
  /* display: flex;
  flex-shrink: 0;
  top: 0;
  left: 0;
  z-index: 0;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  margin-top: -11vh; */
}

#plantLeft:hover {
  filter: none;
  z-index: 1;
}

#box{
  margin-bottom: 5px;
}

#arrow{
  margin-top: 0.8vh;
}