.h1 {
  display: flex;
  flex-direction: row;
  max-width: 506px;
  width: 50vw;

  align-items: flex-start;
  color: var(--Primary-Lunar-green, #354733);

  font-family: EB Garamond;
  font-size: var(--fonte-grande);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

#bio {
  display: flex;
  max-width: 611px;
  width: 50vw;

  justify-content: center;
  align-items: flex-start;
  gap: 12px;

  color: var(--Secondary-Secondary, #808276);
  font-family: Raleway;
  font-size: var(--fonte-pequena);
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%;
}

.homeOneContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

#img {
  display: flex;
  left: 0;
  z-index: 0;
  flex-direction: row-reverse;
  width: 100%;
  height: 100vh;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  top: 0;
  left: 0;
  z-index: 0;
}

#img:hover {
  filter: none;
  z-index: 0;
}
#colorGreen {
  color: var(--Primary-Avacado, #8a9b6e);
  margin-left: 10px;
}

.homeOneWrapper {
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-left: 95px;
}

#btn {
  margin-top: 24px;
}

#topTitle {
  width: 159px;
  height: 28px;
  color: #000;
  text-align: center;
  font-family: Pacifico;
  font-size: var(--fonte-pequena);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 259px;
}

#learn {
  position: absolute;
  display: flex;
  margin-top: 92vh;
  color: var(--Secondary-Secondary, #808276);
  text-align: center;
  font-family: Raleway;
  font-size: var(--fonte-pequena);
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%;
}

#plantLeft {
  display: flex;
  z-index: 0;
  margin-top: 48vh;
  position: absolute;
  flex-direction: row;
  width: 100%;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  z-index: -1;
  margin-left: -96px;
}

.planta {
  margin-left: 50px;
}

#plantLeft:hover {
  filter: none;
}

#box {
  margin-bottom: 5px;
}

#arrow {
  margin-top: 0.8vh;
}

@media (max-height: 800px) {
  #topTitle {
    margin-top: 200px;
  }
}

@media (max-width: 383px) {
  #plantLeft {
    display: none;
  }
  .homeOneContainer {
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  #plantLeft {
    z-index: -2;
  }
}

@media (max-width: 445px) {
  #plantLeft {
    z-index: 0;
  }
  #img {
    z-index: -2;
  }
  .homeOneWrapper {
    z-index: 1;
  }
}

@media screen and (max-width: 455px) {
  #img {
    z-index: 0;
  }
  #plantLeft {
    z-index: -2;
  }
}

@media (max-width: 601px) {
  #img {
    display: none;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
    transition: filter 0.3s ease;
    top: 0;
    left: 0;
    z-index: -2;
    filter: grayscale(100%);
  }

  .homeOneWrapper {
    height: 100vh;
    width: 80vw;
    margin: auto;
  }

  #plantLeft {
    z-index: -2;
    margin-left: -60px;
  }

  .homeOneWrapper h1,
  .homeOneWrapper #bio {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .h1 {
    flex-direction: column;
  }
  #colorGreen {
    margin-left: 0;
  }
  #img {
    z-index: -2;
  }
  #plantLeft {
    z-index: -1;
  }
}

@media (max-width: 1024px) {
  #topTitle {
    margin-top: 150px;
  }
}

@media (max-width: 768px) and (max-height: 600px) {
  #topTitle {
    margin-top: 100px;
  }
}

@media (max-width: 768px) and (max-height: 550px) {
  #learn {
    margin-top: 92.5vh;
  }
  #plantLeft {
    margin-left: -50px;
  }
}
