[data-custom="btnbackContainer"] {
  background: linear-gradient(to right, #354733 50%, white 50%);
  background-size: 200% 100%;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-position 0.3s ease;
  width: 191px;
  height: 62px;
  color: var(--Athena-Grey, #f8f9fb);
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%;
}