@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.inputForm {
  font-family: "Inter", sans-serif;
  color: var(--IBBNB);
  font-size: var(--fonte-pequena);
  padding: 12px 16px;
}
