.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 25px;
  margin-bottom: 20px;
}

.cardContainer {
  width: 100%;
  height: 100%;
}

.cardContainer p:first-of-type {
  word-break: break-all;
}

.cardContainer button {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.productContainer {
  padding: 100px;
}

.productTitle {
  display: flex;
  margin: 25px;
  flex-direction: column;
  justify-content: center;
  color: var(--Primary-Avacado, #8a9b6e);
  text-align: center;

  /* Primary/Primary */
  font-family: EB Garamond;
  font-size: var(--fonte-grande);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

#colorGreen {
  color: var(--Primary-Lunar-green, #354733);
  margin-left: 8px;
}

.inputForm {
  font-family: "Inter", sans-serif;
  color: var(--IBBNB);
  font-size: var(--fonte-pequena);
  background-color: transparent;
  padding: 12px 16px;
  border-radius: 4px;
  border: 2px solid var(--gray);
}

.inputSelect {
  font-family: "Inter", sans-serif;
  color: var(--IBBNB);
  font-size: var(--fonte-pequena);
  background-color: transparent;
  padding: 12px 42px;
  border-radius: 4px;
  border: 2px solid var(--gray);
}

select option {
  color: #333;
  padding: 12px 16px;
}

.inputLabel {
  font-family: var(--inter);
  color: var(--IBBNB);
  font-size: calc(var(--fonte-pequena) + 2);
  font-weight: 500;
  line-height: 22px;
}

.querysContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

@media screen {
  @media (max-width: 1440px) {
    .productList {
      gap: 20px;
    }
  }

  @media (max-width: 1280px) {
    .productList {
      grid-template-columns: repeat(3, 1fr);
    }

    .cardContainer {
      width: 25vw;
    }
  }

  @media (max-width: 1024px) {
    .productContainer {
      padding: 100px 75px;
    }

    .productTitle {
      margin: 0;
    }
  }

  @media (max-width: 768px) {
    .productList {
      grid-template-columns: repeat(2, 1fr);
    }

    .cardContainer {
      width: 100%;
    }

    .productContainer {
      padding: 100px 50px;
    }
  }

  @media (max-width: 650px) {
    .querysContainer {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 1920px) and (min-width: 1000px) {
    .querysContainer {
      align-items: center;
    }
  }

  @media (max-width: 650px) {
    .productContainer {
      padding: 100px 35px;
    }

    .querysContainer {
      padding: 30px 0;
    }

    .querysContainer p {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 480px) {
    .productList {
      grid-template-columns: 1fr;
    }

    .querysContainer {
      padding: 20px 0;
    }
  }

  @media (max-width: 375px) {
    .productContainer {
      padding: 100px 25px;
    }
  }
}
