@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.registerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding-left: 105px;
  gap: 40px;
}

.registerTitle {
  font-size: var(--fonte-media);
  font-family: "Inter", sans-serif;
  color: var(--luna-green);
  border-bottom: 2px solid var(--gray);
  padding-bottom: 20px;
}

.halfInputs {
  display: flex;
  gap: 20px;
}
