@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.registerContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.registerContainer figure {
  position: absolute;
  width: auto;
  right: 0;
  z-index: 0;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.registerContainer figure img {
  width: 55vw;
}

.registerContainer figure:hover {
  filter: grayscale(0);
}

.formContainer {
  width: 30vw;
  padding: 130px 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 1;
}

.registerTitle {
  font-size: var(--fonte-media);
  font-family: "Inter", sans-serif;
  color: var(--luna-green);
  border-bottom: 2px solid var(--gray);
  padding-bottom: 20px;
  font-weight: 600;
}

.halfInputsContainer {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.halfInput {
  width: 50%;
}

.inputRadioControl {
  display: flex;
  gap: 20px;
}

.labelRadios {
  font-family: "Inter", sans-serif;
  color: var(--IBBNB);
  font-size: calc(var(--fonte-pequena) + 2);
  margin-bottom: 16px;
  font-weight: 600;
}

.inputForm {
  font-family: "Inter", sans-serif;
  color: var(--IBBNB);
  font-size: var(--fonte-pequena);
  background-color: transparent;
  padding: 12px 16px;
  border-radius: 4px;
  border: 2px solid var(--gray);
}

.inputRadioContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputRadioLabel {
  font-size: var(--fonte-pequena);
  color: var(--gray);
  font-family: var(--inter);
  font-weight: 500;
  line-height: 22px;
}

.inputRadio {
  appearance: none;
  margin: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--gray);
}

.inputRadio:checked {
  background-color: none;
  background-image: url("../../assets/inputRadioSelected.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.checkedLabel {
  color: var(--IBBNB);
}

.inputTextarea {
  font-family: "Inter", sans-serif;
  color: var(--IBBNB);
  font-size: var(--fonte-pequena);
  padding: 16px;
  height: 100px;
  background-color: transparent;
  border: 2px solid var(--gray);
  border-radius: 4px;
  resize: none;
}

.inputLabel {
  font-family: var(--inter);
  color: var(--IBBNB);
  font-size: calc(var(--fonte-pequena) + 2);
  font-weight: 500;
  line-height: 22px;
}

.errosPriceContainer {
  display: flex;
  gap: 119px;
  margin-top: -4vh;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.plantsNamesControl {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textareaControl {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 768px) {
  .registerContainer figure {
    display: none;
  }

  .formContainer {
    width: 80vw;
    margin: 135px auto;
  }
}
