@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.registerContainer {
  width: 100%;
  background-image: url("../../assets//plantForm.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.formContainer {
  padding: 100px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 40px;
}

.registerTitle {
  font-size: var(--fonte-media);
  font-family: "Inter", sans-serif;
  color: var(--luna-green);
  border-bottom: 2px solid var(--gray);
  padding-bottom: 20px;
  font-weight: 600;
}

.halfInputs {
  display: flex;
  gap: 20px;
}

.inputRadioControl {
  display: flex;
  gap: 20px;
}

.labelRadios {
  font-family: "Inter", sans-serif;
  color: var(--IBBNB);
  font-size: calc(var(--fonte-pequena) + 2);
  margin-bottom: 16px;
  font-weight: 600;
}
